<div class="container mt-5 mb-5">
    <div class="card shadow-lg p-3 mb-1 bg-white rounded">
        <div class="card-body">
            <h1 class="text-center pb-5">Welcome to Admin Dashboard</h1>
            <div class="row my-1">
                <div class="col text-center border shadow-lg p-3 rounded">
                    <h3>Manage Jobs</h3>
                    <p>Manage job details, update, show, delete, etc</p>
                    <button routerLink="/user" class="btn btn-primary">Click Here</button>
                </div>
            </div>
            <div class="row my-3">
                <div class="col border shadow-lg p-3 rounded text-center">
                    <h3>Manage Users</h3>
                    <p>Manage user details, update, show, delete, etc</p>
                    <button routerLink="/manageuser" class="btn btn-primary">Click Here</button>
                </div>
            </div>
            <div class="row my-3">
                <div class="col border shadow-lg p-3 rounded text-center">
                    <h3>Manage User Activity</h3>
                    <p>Manage user details, update, show, delete, etc</p>
                    <button class="btn btn-primary">Click Here</button>
                </div>
            </div>
            <div class="row my-3">
                <div class="col border shadow-lg p-3 rounded text-center">
                    <h3>Manage Sales</h3>
                    <p>Manage user details, update, show, delete, etc</p>
                    <button routerLink="/sales" class="btn btn-primary">Click Here</button>
                </div>
            </div>
        </div>
    </div>
</div>