<div class="container mt-5">
  <div class="card shadow-lg p-3 mb-1 bg-white rounded">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <img src="assets/images/slide1.jpg" alt="image 1" class="img-fluid">
        </div>
        <div class="col-md-5 text-center">
          <h1 class="text-primary mt-2">MEGA SUPPY</h1>
          <p class="mt-4">Mega Supply is a leading mobile phone supplier of high-quality products and services to customers sri lanka. Our mission is to provide exceptional value through innovative solutions, outstanding customer service, and a commitment to excellence.</p>
          <a routerLink="/aboutus" type="button" class="btn btn-secondary my-3">More info</a><br>
          <a href="https://megasupply.lk/" target="_blank" type="button" class="btn btn-primary my-1">Go to official website</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col text-center">
      <div class="card-group shadow-lg">
        <div class="card">
          <img src="assets/images/slide2.jpg" class="card-img-top rounded" alt="..." height="200">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/slide1.jpg" class="card-img-top rounded" alt="..." height="200">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/slide3.jpg" class="card-img-top rounded" alt="..." height="200">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  
</div>

