<div class="container mt-5 min-vh-100">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h1 class="display-4 text-center">About Us</h1>
        <p class="lead text-center">Welcome to Mega Supply!</p>
        <p>
          Mega Supply is a leading mobile phone supplier of high-quality products and services to customers sri lanka. Our mission is to provide exceptional value through innovative solutions, outstanding customer service, and a commitment to excellence.
        </p>
        <p>
          Founded in 2017, Mega Supply has grown rapidly by focusing on our core values of integrity, reliability, and customer satisfaction. We pride ourselves on our ability to meet the needs of our customers and exceed their expectations.
        </p>
        <p>
          Thank you for choosing Mega Supply. We look forward to serving you!
        </p>
        <p class="text-center mt-3">
            <a href="tel:+94775164544" class="btn btn-secondary">Call Sudeep Jayarathna</a>
          </p>
        <p class="text-center">
            <a href="https://www.megasupply.lk" target="_blank" >Official Website</a>
          </p>
      </div>
    </div>
  </div>
  