.container {
    margin-top: 50px;
  }
  
  .card {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #dee2e6;
    background: linear-gradient(to right, #f9f9f9, #b3ebff);
  }
  
  .display-4 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .lead {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  h1{
    font-weight: bold;
  }
  