<div class="container text-center mt-5">
    <div class="card shadow-lg p-3 mb-5 rounded border-danger">
      <div class="card-body">
        <h1 class="display-4" style="color: rgb(212, 4, 4);"><b>403</b></h1>
        <h2 class="mb-4" style="color: rgb(212, 4, 4);"><b>Access Denied</b></h2>
        <p class="lead" style="color: rgb(212, 4, 4);"><b>You do not have permission to access this page , function or your token is expired. You must log out and then log in</b></p>
        <a class="btn btn-danger mx-2" (click)="logout()">Logout</a> <br>
        <a class="btn btn-primary" routerLink="/home">Go to Home</a>
      </div>
    </div>
  </div>
  