<div class="container-fluid">
    <h2 class="text-center m-3">User Dashboard</h2>

    <div class="row border" style="height: fit-content;">
        <label class="col m-3">Select Search Option</label>
        <Select class="col m-3">
            <option value="BYJOBID">By Job ID</option>
            <option value="BYNAME">By Customer Name</option>
            <option value="BYJOBID">By Job ID</option>
            <option value="BYJOBID">By Job ID</option>
        </Select>
        <button class="btn m-3 btn-primary">Search</button>
    </div>
</div>