<div class="container-fluid">

    <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show text-center mt-5" role="alert">
        {{ errorMessage }}
        <button type="button" class="btn-close" aria-label="Close" (click)="showError = false"></button>
    </div>

    <div class="alert alert-success alert-dismissible fade show text-center mt-3" role="alert"
        *ngIf="showSuccessResponse">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show text-center mt-3 alert-fixed-top" role="alert"
        *ngIf="showFailedResponse">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <h2 class="text-center m-3">Manage Jobs</h2>

    <div class="row mb-2">
        <div class="col">
            <div class="input-group">
                <button type="button" class="btn btn-sm btn-primary rounded" data-bs-toggle="modal"
                    data-bs-target="#addJobFromModal">Add New Job</button>
                <button type="button" class="btn btn-success mx-1 rounded btn-sm"
                    (click)="refreshPage()">Refresh</button>
                <select class="form-select mx-2 rounded" [(ngModel)]="searchOption">
                    <option value="Select Search Option">Select Search Option</option>
                    <option value="id">Search by Job ID</option>
                    <option value="customerName">Search by Customer Name</option>
                    <option value="phoneNumber">Search by Phone Number</option>
                    <option value="phoneModel">Search by Phone Model</option>
                    <option value="IMEI">Search by IMEI or Serial Number</option>
                    <option value="date">Search by Received Date</option>
                    <option value="filter">Filter By Status</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mb-2" *ngIf="searchOption === 'id'">
        <div class="col">
            <div class="input-group">
                <input type="number" placeholder="Enter Job ID" [(ngModel)]="searchJobId"
                    class="form-control rounded border-primary" (keyup.enter)="searchById(searchJobId)" />
                <button (click)="searchById(searchJobId)" class="btn btn-info mx-2 rounded">Search</button>
            </div>
        </div>
    </div>

    <div class="row mb-2" *ngIf="searchOption === 'customerName'">
        <div class="col">
            <div class="input-group">
                <input type="text" placeholder="Enter Customer Name" [(ngModel)]="searchCustomerName"
                    class="form-control rounded border-primary" (keyup)="searchByCustomerName(searchCustomerName)" />
                <button (click)="searchByCustomerName(searchCustomerName)" class="btn btn-info mx-2">Search</button>
            </div>
        </div>
    </div>


    <div class="row mb-2" *ngIf="searchOption === 'phoneNumber'">
        <div class="col">
            <div class="input-group">
                <input type="text" placeholder="Enter Phone Number" [(ngModel)]="searchPhoneNumber"
                    class="form-control rounded border-primary"
                    (keyup.enter)="searchByPhoneNumber(searchPhoneNumber)" />
                <button (click)="searchByPhoneNumber(searchPhoneNumber)" class="btn btn-info mx-2">Search</button>
            </div>
        </div>
    </div>

    <div class="row mb-2" *ngIf="searchOption === 'phoneModel'">
        <div class="col">
            <div class="input-group">
                <input type="text" placeholder="Enter Phone Model" [(ngModel)]="searchPhoneModel"
                    class="form-control rounded border-primary" (keyup.enter)="searchByPhoneModel(searchPhoneModel)" />
                <button (click)="searchByPhoneModel(searchPhoneModel)" class="btn btn-info mx-2">Search</button>
            </div>
        </div>
    </div>

    <div class="row mb-2" *ngIf="searchOption === 'IMEI'">
        <div class="col">
            <div class="input-group">
                <input type="text" placeholder="Enter IMEI or Serial Number" [(ngModel)]="searchImei"
                    class="form-control rounded border-primary" (keyup.enter)="searchByImei(searchImei)" />
                <button (click)="searchByImei(searchImei)" class="btn btn-info mx-2">Search</button>
            </div>
        </div>
    </div>

    <div class="row mb-2" *ngIf="searchOption === 'date'">
        <div class="col">
            <div class="input-group">
                <input type="date" [(ngModel)]="searchReceivedDate" class="form-control rounded border-primary"
                    (change)="filterByDate(searchReceivedDate)" />
                <button (click)="filterByDate(searchImei)" class="btn btn-info mx-2">Search</button>
            </div>
        </div>
    </div>

    <div class="row mb-2" *ngIf="searchOption === 'filter'">
        <div class="col">
            <div class="input-group">
                <select class="form-select" [(ngModel)]="filterOption" (change)="filterByStatus(filterOption)">
                    <option value="PENDING">PENDING</option>
                    <option value="IN_PROGRESS">IN_PROGRESS</option>
                    <option value="COMPLETED">COMPLETED</option>
                    <option value="CAN'T FIX">CAN'T FIX</option>
                    <option value="WAITING FOR PART">WAITING FOR PART</option>
                    <option value="PAID">PAID</option>
                </select>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="text-center table-dark">
                        <tr>
                            <th scope="col">Job ID</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Phone Model</th>
                            <th scope="col">IMEI</th>
                            <th scope="col">Falut</th>
                            <th scope="col">Price</th>
                            <th scope="col">Descrption</th>
                            <th scope="col">Job Added At</th>
                            <th scope="col">Job Release At</th>
                            <th scope="col">Back Cover</th>
                            <th scope="col">Memory Card</th>
                            <th scope="col">Sim Card</th>
                            <th scope="col">Job Added By</th>
                            <th scope="col">Repair By</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let job of jobData">
                            <td>{{job.id}}</td>
                            <td>{{job.customerName}}</td>
                            <td>{{job.phoneNumber}}</td>
                            <td>{{job.phoneModel}}</td>
                            <td>{{job.imei}}</td>
                            <td>{{job.fault}}</td>
                            <td>{{job.price}}</td>
                            <td>{{job.description}}</td>
                            <td>{{ getFormattedDate(job.jobAddedAt) }}</td>
                            <td>{{ getFormattedDate(job.jobReleaseAt) }}</td>
                            <td>{{job.hasBackCover}}</td>
                            <td>{{job.hasMemoryCard}}</td>
                            <td>{{job.hasSimCard}}</td>
                            <td>{{job.jobAddedBy}}</td>
                            <td>{{job.repairedBy}}</td>
                            <td>{{job.status}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-info mx-1" (click)="openJobRepairModal(job)"
                                    data-bs-toggle="modal" data-bs-target="#jobRepairModal" [disabled]="job.status === 'PAID'">Change Job
                                    Progress</button>
                                <button type="button" class="btn btn-sm btn-success" (click)="openJobPayModal(job)"
                                    data-bs-toggle="modal" data-bs-target="#jobPayModal">Pay</button>
                                <button type="button" class="btn btn-sm btn-warning mx-1"
                                    (click)="openJobUpdateModal(job)" data-bs-toggle="modal"
                                    data-bs-target="#jobUpdateModel">Update</button>
                                <button *ngIf="isAdmin" type="button" class="btn btn-sm btn-danger"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"
                                    (click)="openJobDeleteModal(job)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="jobPayModal" tabindex="-1" aria-labelledby="jobPayModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jobPayModalLabel">Job Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #jobPayForm="ngForm">
                    <input type="hidden" [(ngModel)]="jobPayFormData.id" name="id">
                    <div class="mb-3">
                        <label for="jobId" class="form-label">Job ID</label>
                        <input type="text" disabled="true" class="form-control" value="{{jobPayFormData.id}}">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" [(ngModel)]="jobPayFormData.price"
                            name="price" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info" data-bs-dismiss="modal"
                            [disabled]="jobPayForm.invalid" (click)="printInvoice(jobPayFormData.id)">Print
                            Invoice</button>
                        <button type="submit" class="btn btn-primary" (click)="jobPay(jobPayForm)"
                            data-bs-dismiss="modal" [disabled]="jobPayForm.invalid">Pay</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            [disabled]="jobPayForm.invalid" (click)="jobPayAndPrint(jobPayForm, jobPayFormData.id)">Pay
                            & Print
                            Invoice</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="jobUpdateModel" tabindex="-1" role="dialog" aria-labelledby="jobUpdateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jobUpdateModalLabel">Update Job</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #updateJobForm="ngForm" (ngSubmit)="jobUpdate(updateJobForm)">
                    <input type="hidden" [(ngModel)]="jobUpdateFormData.id" name="id">
                    <div class="mb-3">
                        <label for="id" class="form-label">Job ID</label>
                        <input type="number" disabled="true" class="form-control" value="{{jobUpdateFormData.id}}">
                    </div>
                    <div class="mb-3">
                        <label for="customerName" class="form-label">Customer Name</label>
                        <input type="text" class="form-control" id="customerName" name="customerName"
                            placeholder="Enter customer name" required [(ngModel)]="jobUpdateFormData.customerName"
                            #customerName="ngModel">
                        <div *ngIf="customerName.invalid && (customerName.dirty || customerName.touched)"
                            class="text-danger">
                            <div *ngIf="customerName.errors?.['required']">Customer name is
                                required.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Enter valid phone number"
                            name="phoneNumber" [(ngModel)]="jobUpdateFormData.phoneNumber" #phoneNumber="ngModel"
                            [pattern]="'^0[0-9]{9}$'">
                        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty)" class="text-danger">
                            <div *ngIf="phoneNumber.errors?.['pattern']">Phone number must
                                start with 0 and be 10 digits
                                long.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="phoneModel" class="form-label">Phone Model</label>
                        <input type="text" class="form-control" id="phoneModel" name="phoneModel"
                            placeholder="Enter phone model" required [(ngModel)]="jobUpdateFormData.phoneModel"
                            #phoneModel="ngModel">
                        <div *ngIf="phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)" class="text-danger">
                            <div *ngIf="phoneModel.errors?.['required']">Phone model is
                                required.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="imei" class="form-label">IMEI or Serial Number</label>
                        <input type="text" class="form-control" id="imei" name="imei"
                            placeholder="Enter phone IMEI or serial number" [(ngModel)]="jobUpdateFormData.imei">
                    </div>

                    <div class="mb-3">
                        <label for="fault" class="form-label">Fault</label>
                        <input type="text" class="form-control" id="fault" name="fault" placeholder="Enter fault"
                            required [(ngModel)]="jobUpdateFormData.fault" #fault="ngModel">
                        <div *ngIf="fault.invalid && (fault.dirty || fault.touched)" class="text-danger">
                            <div *ngIf="fault.errors?.['required']">Phone fault is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="Enter price"
                            [(ngModel)]="jobUpdateFormData.price">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                            placeholder="Enter description" [(ngModel)]="jobUpdateFormData.description">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hasBackCover" name="hasBackCover"
                                    [(ngModel)]="jobUpdateFormData.hasBackCover">
                                <label class="form-check-label" for="hasBackCover">Has Back
                                    Cover</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hasMemoryCard" name="hasMemoryCard"
                                    [(ngModel)]="jobUpdateFormData.hasMemoryCard">
                                <label class="form-check-label" for="hasMemoryCard">Has
                                    Memory Card</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hasSimCard" name="hasSimCard"
                                    [(ngModel)]="jobUpdateFormData.hasSimCard">
                                <label class="form-check-label" for="hasSimCard">Has Sim
                                    Card</label>
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="status" class="form-label">Job Status</label>
                        <select class="form-control" id="status" [(ngModel)]="jobUpdateFormData.status" name="status">
                            <option value="PENDING">PENDING</option>
                            <option value="IN_PROGRESS">IN_PROGRESS</option>
                            <option value="COMPLETED">COMPLETED</option>
                            <option value="CAN'T_FIX">CAN'T FIX</option>
                            <option value="WAITING FOR PART">WAITING FOR PART</option>
                            <option value="PAID">PAID</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" [disabled]="updateJobForm.invalid"
                            data-bs-dismiss="modal">Update Job</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>









<div class="modal fade" id="addJobFromModal" tabindex="-1" aria-labelledby="addJobFormModalLable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addJobFormModalLable">Add New Job</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addJobForm" #jobeSaveForm="ngForm" (ngSubmit)="addJob(jobeSaveForm)" novalidate>
                    <div class="mb-3">
                        <label for="customerName" class="form-label">Customer Name</label>
                        <input type="text" class="form-control" id="customerName" name="customerName"
                            placeholder="Enter customer name" required [(ngModel)]="saveFormData.customerName"
                            #customerName="ngModel">
                        <div *ngIf="customerName.invalid && (customerName.dirty || customerName.touched)"
                            class="text-danger">
                            <div *ngIf="customerName.errors?.['required']">Customer name is required.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Enter valid phone number"
                            name="phoneNumber" [(ngModel)]="saveFormData.phoneNumber" #phoneNumber="ngModel"
                            [pattern]="'^0[0-9]{9}$'">
                        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty)" class="text-danger">
                            <div *ngIf="phoneNumber.errors?.['pattern']">Phone number must start with 0 and be 10 digits
                                long.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="phoneModel" class="form-label">Phone Model</label>
                        <input type="text" class="form-control" id="phoneModel" name="phoneModel"
                            placeholder="Enter phone model" required [(ngModel)]="saveFormData.phoneModel"
                            #phoneModel="ngModel">
                        <div *ngIf="phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)" class="text-danger">
                            <div *ngIf="phoneModel.errors?.['required']">Phone model is required.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="imei" class="form-label">IMEI or Serial Number</label>
                        <input type="text" class="form-control" id="imei" name="imei"
                            placeholder="Enter phone IMEI or serial number" [(ngModel)]="saveFormData.imei">
                    </div>

                    <div class="mb-3">
                        <label for="fault" class="form-label">Falut</label>
                        <input type="text" class="form-control" id="fault" name="fault" placeholder="Enter fault"
                            required [(ngModel)]="saveFormData.fault" #fault="ngModel">
                        <div *ngIf="fault.invalid && (fault.dirty || fault.touched)" class="text-danger">
                            <div *ngIf="fault.errors?.['required']">Phone fault is required.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="Enter price"
                            [(ngModel)]="saveFormData.price">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                            placeholder="Enter description" [(ngModel)]="saveFormData.description">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hasBackCover" name="hasBackCover"
                                    [(ngModel)]="saveFormData.hasBackCover">
                                <label class="form-check-label" for="hasBackCover">Has Back Cover</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hasMemoryCard" name="hasMemoryCard"
                                    [(ngModel)]="saveFormData.hasMemoryCard">
                                <label class="form-check-label" for="hasMemoryCard">Has Memory Card</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hasSimCard" name="hasSimCard"
                                    [(ngModel)]="saveFormData.hasSimCard">
                                <label class="form-check-label" for="hasSimCard">Has Sim Card</label>
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="status" class="form-label">Job Status</label>
                        <select class="form-control" id="status" [(ngModel)]="saveFormData.status" name="status">
                            <option value="PENDING">PENDING</option>
                            <option value="IN_PROGRESS">IN_PROGRESS</option>
                            <option value="COMPLETED">COMPLETED</option>
                            <option value="CAN'T_FIX">CAN'T FIX</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" [disabled]="jobeSaveForm.invalid"
                            data-bs-dismiss="modal">Save
                            Job</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="jobRepairModal" tabindex="-1" role="dialog" aria-labelledby="jobRepairModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="repairJobModalLabel">Update Job Progress</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #repairJobForm="ngForm" (ngSubmit)="jobRepair(repairJobForm)">
                    <input type="hidden" [(ngModel)]="jobRepairForm.id" name="id">
                    <div class="mb-3">
                        <div class="alert alert-danger alert-dismissible fade show text-center mt-3" role="alert"
                            *ngIf="showFailedResponse">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="id" class="form-label">Job ID</label>
                        <input type="number" disabled="true" class="form-control" [(ngModel)]="jobRepairForm.id">
                    </div>
                    <div class="mb-3">
                        <label for="repairStatus" class="form-label">Job Status</label>
                        <select class="form-control" id="repairStatus" [(ngModel)]="jobRepairForm.status" name="status">
                            <option value="PENDING">PENDING</option>
                            <option value="IN_PROGRESS">IN_PROGRESS</option>
                            <option value="COMPLETED">COMPLETED</option>
                            <option value="CAN'T_FIX">CAN'T FIX</option>
                            <option value="WAITING FOR PART">WAITING FOR PART</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update Job Progress
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" style="color: red;">Delete
                    Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want delete job relevent with job ID: <span style="color: red;">{{ jobDeleteForm.id
                    }}</span> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="deleteJob(jobDeleteForm.id)" type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>












<div class="my-2" *ngIf="totalJobs > pageSize && searchOption ==='Select Search Option'">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 0">
            <a class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of [].constructor(Math.ceil(totalJobs / pageSize)) | numberToArray; let i = index"
            class="page-item" [class.active]="i === currentPage">
            <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage >= Math.ceil(totalJobs / pageSize) - 1">
            <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
        </li>
    </ul>
</div>

<div class="text-center" *ngIf="searchOption ==='Select Search Option'">
    <p>Page {{currentPage + 1}} of {{Math.ceil(totalJobs / pageSize)}} pages</p>
    <p><b>{{totalJobs}}</b> Job Founded</p>
</div>


<div class="my-2" *ngIf="totalJobsForModel > pageSizeForModel && searchOption ==='phoneModel'">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPageForModel === 0">
            <a class="page-link" (click)="onPageChangeForModel(currentPageForModel - 1)">Previous</a>
        </li>
        <li *ngFor="let pageForModel of [].constructor(Math.ceil(totalJobsForModel / pageSizeForModel)) | numberToArray; let i = index"
            class="page-item" [class.active]="i === currentPageForModel">
            <a class="page-link" (click)="onPageChangeForModel(i)">{{ i + 1 }}</a>
        </li>
        <li class="page-item"
            [class.disabled]="currentPageForModel >= Math.ceil(totalJobsForModel / pageSizeForModel) - 1">
            <a class="page-link" (click)="onPageChangeForModel(currentPageForModel + 1)">Next</a>
        </li>
    </ul>
</div>

<div class="text-center" *ngIf="searchOption ==='phoneModel'">
    <p>Page {{currentPageForModel + 1}} of {{Math.ceil(totalJobsForModel / pageSizeForModel)}} pages</p>
    <p><b>{{totalJobsForModel}}</b> Job Founded</p>
</div>



<div class="my-2" *ngIf="totalJobsForStatus > pageSizeForStatus && searchOption ==='filter'">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPageForStatus === 0">
            <a class="page-link" (click)="onPageChangeForStatus(currentPageForStatus - 1)">Previous</a>
        </li>
        <li *ngFor="let pageForStatus of [].constructor(Math.ceil(totalJobsForStatus / pageSizeForStatus)) | numberToArray; let i = index"
            class="page-item" [class.active]="i === currentPageForStatus">
            <a class="page-link" (click)="onPageChangeForStatus(i)">{{ i + 1 }}</a>
        </li>
        <li class="page-item"
            [class.disabled]="currentPageForStatus >= Math.ceil(totalJobsForStatus / pageSizeForStatus) - 1">
            <a class="page-link" (click)="onPageChangeForStatus(currentPageForStatus + 1)">Next</a>
        </li>
    </ul>
</div>

<div class="text-center" *ngIf="searchOption ==='filter'">
    <p>Page {{currentPageForStatus + 1}} of {{Math.ceil(totalJobsForStatus / pageSizeForStatus)}} pages</p>
    <p><b>{{totalJobsForStatus}}</b> Job Founded</p>
</div>